| $('#extend-chart').html('');
| $('#extend-chart').height('200px');
| Morris.Line({
|   element: 'extend-chart',
|   data: #{{@script.result.to_json}},
|   xkey: 'time',
|   ykeys: ['usage'],
|   labels: ['CPU Usage']
| });
