- template = escape_javascript(slim :'partials/cleo', locals: { result: @script.result })
| $("#extend-footer").append('#{{template}}');
| $(function () {
|   $('#cleo-tabs a:first').tab('show');
| });
