- template = escape_javascript(slim(:'partials/statistic', locals: { script: @script }))
| $("#extend-stats").append('#{{template}}');
| $('a.expand-table').unbind('click').bind('click', function(){
|   $(this).parents('table:first').find('tr').show();
|   $(this).parents('tr:first').remove();
|   return false;
| });
| $(function () {
|   $('#stats-tabs a:first').tab('show');
| });
