- top_by_size = escape_javascript(slim :'partials/statistic', locals: { stats: @script.top_by_size, title: 'Top by size' })
- top_by_files = escape_javascript(slim :'partials/statistic', locals: { stats: @script.top_by_files, title: 'Top by files' })
| $("#extend").append('#{{top_by_size}}').append('#{{top_by_files}}');